@import "./default";
@import "./mixin";

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    height: 2000px;
    box-sizing: border-box;

    header{

        .banner{
            width: 100%;

            .hdBackground{
                width: 100%;
                height: 1080px;
                background-image: url("img/header/country-white-bread2.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                @media (max-width: 1599.98px) {
                    height: 900px;
                }

                @media (max-width: 1365.98px) {
                    height: 768px;
                }
                @media (max-width: 1279.98px) {
                    height: 1024px;
                }
                @media (max-width: 767.98px) {
                    height: 568px;
                }
                
                z-index: 0;
    
                display: flex;
                flex-direction: row;
                justify-content: center;
                position: relative;
    
                .hdLogo{
                    width: 28%;
                    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
                    
                    position: absolute;
                    margin-top: 22%;
                    z-index: 1;

                    @media (max-width: 1279.98px) {
                        margin-top: 36%;
                    }
                    @media (max-width: 991.98px) {
                        width: 36%;
                    }
                    @media (max-width: 767.98px) {
                        margin-top: 36%;
                    }
                    @media (max-width: 575.98px) {
                        margin-top: 46%;
                    }
                }
    
                .hdFresh{
                    width: 10%;
                    position: absolute;
                    margin-top: 16%;
                    left: 66%;
                    transform: translate( - 50%, - 50%);
                    z-index: 1;

                    @media (max-width: 1279.98px) {
                        margin-top: 30%;
                    }
                    @media (max-width: 991.98px) {
                        width: 16%;
                        margin-top: 26%;
                    }
                    @media (max-width: 575.98px) {
                        margin-top: 36%;
                    }
                }
    
                .hdInstagramIcon{
                    width: 4%;
    
                    position: absolute;
                    top: 88%;
                    left: 76%;
                    transform: translate( - 50%, - 50%);
                    z-index: 1;
                    @media (max-width: 991.98px) {
                        width: 6%;
                    }
                    @media (max-width: 767.98px) {
                        width: 8%;
                    }
                }
            }
        }
    }

    main{
        position: relative;

        #BreadContainer{
            width: 100%;
            height: 101%;
            opacity: 0.5;
            position: absolute;
            z-index: -1;

            .BreadBackground{
                position: sticky;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background-color: bisque;
                background-position: center;
                background-size: cover;

                .BreadBackgroundEach{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        width: 80%;
                        @media (max-width: 1365.98px) {
                            width: 60%;
                        }
                        @media (max-width: 1199.98px) {
                            width: 40%;
                        }
                        @media (max-width: 767.98px) {
                            width: 20%;
                        }
                    }
                }

                .effect_box1{
                    @include BreadBackgroundStyle;
                    top: 11.11%;
                    left: 0%;
                }
                .effect_box2{
                    @include BreadBackgroundStyle;
                    top: 60.83%;
                    left: 0%;
                }
                .effect_box3{
                    @include BreadBackgroundStyle;
                    top: 27.96%;
                    left: 8.28%;
                }
                .effect_box4{
                    @include BreadBackgroundStyle;
                    top: 80.46%;
                    left: 7.18%;
                }
                .effect_box5{
                    @include BreadBackgroundStyle;
                    top: 6.29%;
                    left: 15.78%;
                }
                .effect_box6{
                    @include BreadBackgroundStyle;
                    top: 44.72%;
                    left: 13.85%;
                }
                .effect_box7{
                    @include BreadBackgroundStyle;
                    top: 70%;
                    left: 18.17%;
                }
                .effect_box8{
                    @include BreadBackgroundStyle;
                    top: 22.12%;
                    left: 32.91%;
                }
                .effect_box9{
                    @include BreadBackgroundStyle;
                    top: 61.01%;
                    left: 33.85%;
                }
                .effect_box10{
                    @include BreadBackgroundStyle;
                    top: 0%;
                    left: 40.83%;
                }
                .effect_box11{
                    @include BreadBackgroundStyle;
                    top: 85.09%;
                    left: 39.84%;
                }
                .effect_box12{
                    @include BreadBackgroundStyle;
                    top: 38.05%;
                    left: 48.02%;
                }
                .effect_box13{
                    @include BreadBackgroundStyle;
                    top: 10.64%;
                    left: 54.32%;
                }
                .effect_box14{
                    @include BreadBackgroundStyle;
                    top: 69.62%;
                    left: 56.35%;
                }
                .effect_box15{
                    @include BreadBackgroundStyle;
                    top: 48.1%;
                    left: 67.3%;
                }
                .effect_box16{
                    @include BreadBackgroundStyle;
                    top: 26.75%;
                    left: 76.3%;
                }
                .effect_box17{
                    @include BreadBackgroundStyle;
                    top: 72.03%;
                    left: 76.3%;
                }
                .effect_box18{
                    @include BreadBackgroundStyle;
                    top: 14.9%;
                    left: 88.12%;
                }
                .effect_box19{
                    @include BreadBackgroundStyle;
                    top: 47.59%;
                    left: 86.14%;
                }
                .effect_box20{
                    @include BreadBackgroundStyle;
                    top: 3.5%;
                    right: 2%;
                }
                .effect_box21{
                    @include BreadBackgroundStyle;
                    top: 71.48%;
                    right: 0%;
                }
            }
        }

        .Navbar{

            width: 100vw;
            background-image: url("img/NavBar/NavBar-wheat-white.png");
            background-position-x: right;
            background-repeat: no-repeat;

                @media (max-width: 991.98px) {
                    background-size: contain;
                }

            .container{
                height: 176px;

                @media (max-width: 991.98px) {
                    background-size: contain;
                    display: flex;
                    flex-wrap: nowrap;
                }

                .NavBarYamazakiLogo{
                    @media (max-width: 1199.98px) {
                        width: 100%;
                    }
                    @media (max-width: 991.98px) {
                        width: 30%;
                        height: 30%;
                        padding-top: 16px;
                    }
                }

                .NavBarBtns{
                    position: relative;

                    .navbtn{
                        background-color: $yamazakired;
                        color: white;
                        text-align: center;
                        font-family: 'Carrois Gothic', sans-serif;
                        border-radius: 10px;
                        margin: 0 22px;
                        padding: 0;
                        text-decoration: none;
                        font-size: medium;
                        @media (max-width: 991.98px) {
                            font-size: xx-small;
                            margin: 20px 8px 0 8px;
                            height: 16.8px;
                        }

                        .navbtnChi{
                            display: none;
                        }

                        :hover{
                            background-color: orange;
                            border-radius: 10px;
                            transition: 0.3s ease-in-out;

                            .navbtnEng{
                                display: none !important;
                            }
                            .navbtnChi{
                                display: block !important;
                            }
                        }
                    }
                }
            }
        }
            /* ----------------------------手機導覽列-------------------------------------- */

    .navbar-dark{
        background-color: $creamcolor;

        .navbar-brand{
            .mr-2{
                width: 28%;

                @media (max-width: 575.98px) {
                    width: 36%;
                }
            }
        }

        .navbar-toggler{
            position: absolute;
            right: 5%;
        }

        .navbar-collapse{
            .navbar-nav{
                display: flex;

                .nav-item{
                    width: 260px;

                    .nav-link{
                        display: flex;

                        .NavText{
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: space-between;
                            color: $yamazakired !important;
                        }
                    }
                }
            }
        }
    }

        .Concept{
            padding-bottom: 100px;
            position: relative;

            .FakeAnchor{
                position: absolute;
                height: 176px;
                top: -176px;
            }

            .ConceptStyle{
                .ConceptStyleTitle{
                    padding-bottom: 42px;
                    text-align: center;
                    @include GoogleFonts;

                    @media (max-width: 767.98px) {
                        padding-top: 42px;
                    }
                }

                .ConceptStyleText{
                    @include GoogleFonts
                }
            }

            .presidentTEXT{
                .presidentTEXTbtn{
                    .btn-primary{
                        background-color: $yamazakired;
                        border: 1px solid $creamcolor;

                        animation-name: MyWOW;
                        visibility: visible;
                        animation-duration: 4s;
                        animation-delay: 1s;
                        animation-iteration-count: infinite;
    
                        @keyframes MyWOW{
                            0% {
                                transform: scaleX(1);
                            }
                            75% {
                                transform: scaleX(1);
                            }
                            82.5%{
                                transform: scale3d(1.25,.75,1);
                            }
                            85%{
                                transform: scale3d(.75,1.25,1);
                            }
                            87.5%{
                                transform: scale3d(1.15,.85,1);
                            }
                            91.25%{
                                transform: scale3d(.95,1.05,1);
                            }
                            93.75%{
                                transform: scale3d(1.05,.95,1);
                            }
                            100%{
                                transform: scaleX(1);
                            }
                        }
                    }

                    .btn-primary.focus, .btn-primary:focus{
                        box-shadow: 0 0 0 0.2rem $creamcolor;
                    }

                    .modal{
                        .modal-dialog{
                            .modal-content{
                                border: 2px solid $creamcolor;

                                .modal-header{
                                    border-bottom: 2px solid $creamcolor;

                                    img{
                                        width: 100px;
                                    }

                                    .modal-title{
                                        margin-left: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .ConceptSubsidiary{
                .ConceptSubsidiaryMain{
                    height: 260px;
                    position: relative;

                    .ConceptIMG{
                        position: relative;
                        width: 262.5px;

                        img{
                            width: 100%;
                        }

                        &::after{
                            display: none;
                            content: " ";
                            background-image: url("img/concept/AboutUsMissionAndVision-white.png");
                            background-size: 730px 254px;
                            width: 0;
                            height: 0;
                            position: absolute;
                            z-index: 3;
                            top: -70;
                            left: -240px;
            
                            transition: width .5s ease, background-image .5s ease, left .5s ease;

                            @media (max-width: 1199.98px) {
                                background-size: 430px 150px;
                                top: -70;
                                left: -80px;
                            }
                        }

                        &:hover::after{
                            display: block;
                            width: 730px;
                            height: 254px;
                            @media (max-width: 1199.98px) {
                                width: 430px;
                                height: 150px;
                            }
                        }
                    }
                }

                .ConceptSubsidiarySub{
                    text-align: center;

                    .col{
                        margin: 20px 0;
                        
                        img{
                            width: 75%;
                            transition: .6s;

                            &:hover{
                                transform: scale(1.2);
                            }   
                        }

                        .img-cat{
                            width: 50%;
                        }
                    }
                }
            }
        }

        .MonthlyNew{
            .MonthlyNew3ItemsPC-sec2{
                .MonthlyNew3Item{
                    position: relative;

                    .thumbnailR,.thumbnailL{
                        width: 100%;
                    }

                    .MonthlyNew3Item-text{
                        @include GoogleFonts;
                        width: 315px;
                        color: white;
                        background-color: rgba(206,27,40,0.6);
                        border-radius: 11px;
                        padding: 24px;
                        position: absolute;
                        top: 10%;
                        left: 66%;

                        h2{
                            font-weight: 400;
                            font-size: 26pt;
                        }

                        p{
                            font-size: 18pt;
                            margin: 0;
                            font-weight: lighter;
                        }

                        @media (max-width: 991.98px) {
                            width: 216px;
                            h2{
                                font-size: 12pt;
                            }
                            p{
                                font-size: 8pt;
                            }
                        }
                    }
                }
            }

            .MonthlyNewTitle{
                color: $yamazakired;
                margin-left: 6px;
                border-left: 2px solid $yamazakired;
                padding-left: 6px;
                padding-top: 8px;
            }

            .swiper-container {
                width: 100%;
                height: 225px;
                
                .swiper-slide {
                    position: relative;
            
                    /* Center slide text vertically */
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;

                    img{
                        width: 100%;
                        position: absolute;
                        left: 0;
                        z-index: 0;
                    }

                    .MonthlyNew2Text{
                        background-color: rgba(255, 255, 255, 0.5);
                        z-index: 1;
                        margin: 2%;
                        padding: 10px;
                        border-radius: 4px;
                        width: 26%;
                        text-align: justify;

                        h6{
                            color: black;
                        }

                        p{
                            color: black;
                            font-size: x-small;
                            margin: 0;
                        }
                    }
                }

                .swiper-pagination{
                    .swiper-pagination-bullet{
                        background: $yamazakired;
                        opacity: .6;    
                    }

                    .swiper-pagination-bullet-active{
                        background: $yamazakired;
                        opacity: 1;   
                    }    
                }
            }
        }

        .swiper-gapline{
            @include Gapline;
            margin-top: 12px;
            opacity: 0.6;
        }

        .Comingsoon{
            .ComingsoonPC{
                padding-bottom: 100px;

                .ComingsoonSec1{                    
                    .ComingsoonTitlePC{
                        text-align: center;
                        padding-top: 44px;
                        padding-bottom: 44px;
                        @include GoogleFonts;
                    }
                }
                
                .ComingsoonSec2{
                    .ComingsoonSec2-L{
                        .ComingsoonSec2-IMG{
                            width: 100%;
                        }
                    }

                    .ComingsoonSec2-R{
                        opacity: 0.9;

                        .ComingsoonSec2-Package{
                            width: 80%;
                        }
                        .ComingsoonSec2-Text{
                            background-color: $yamazakired;
                            color: white;
                            border-radius: 11px;
                            padding: 6% 10%;
                            text-align: justify;
                            @include GoogleFonts;

                            @media (max-width: 1199.98px) {
                                padding: 6% 20%;
                            }
                            @media (max-width: 991.98px) {
                                h5{
                                    font-size: 12pt;
                                }
                                p{
                                    font-size: 8pt;
                                }
                            }

                            h5{
                                @media (max-width: 1199.98px) {
                                }
                            }

                            p{
                                margin-bottom: unset;
                                font-size: smaller;
                            }
                        }   
                    }
                }
            }


            /////////////////////// 以下為原本手機版

            .ComingsoonTitleMobile{
                @include MobileTitle;
            }
            .ComingsoonMobile{
                max-width: 100%;
                padding-left: 0;
                padding-right: 0;
                margin-left: 0;
                margin-right: 0;

                .row{
                    margin-left: unset;
                    margin-right: unset;
                    
                    .col-8{
                        padding-left: 0;
                        padding-right: 0;

                        .ComingsoonLeft{
                            width: 100%;
                        }
                    }

                    .col-4{
                        padding-left: 12px;
                        padding-right: 12px;
                        background-color: orange;
                        opacity: 0.9;

                        .ComeingsoonRightPackImg{
                            padding: 16%;
                            width: 100%;
                        }

                        .ComingsoonRightText{
                            color: white;
                            margin-top: 16px;
                            font-size: 10px;
                            @include GoogleFonts;
                        }   
                    }
                }
            }
            /////////////////////// 以上為原本手機版
        }

        .gapline{
            @include Gapline
        }

        .Hot{
            .HotPC{
                padding-bottom: 100px;

                .HotTitle{
                    @include GoogleFonts;
                    padding-top: 44px;
                    padding-bottom: 44px;
                }

                .HotContent{
                    .col-4{
                        .HotIMG{
                            img{
                                box-shadow: 10px 10px 12px 1px rgba(0,0,0,0.75);
                            }
                        }

                        .HotDetail{
                            width: 80%;
                            background-color: $yamazakired;
                            padding: 6%;

                            .HotDetailText{
                                @include GoogleFonts;
                                color: white;
                                padding: 10% 10%;
                                text-align: center;

                                @media (max-width: 991.98px) {
                                    padding: 10% 2%;

                                    h4{
                                        font-size: 12pt;
                                    }

                                    p{
                                        font-size: 8pt;
                                    }
                                }
                            }

                            .HotDetailImg{
                                .HotDetailCircle{
                                    width: 100%;
                                    position: relative;
    
                                    .HotWhiteCircle{
                                        width: 200px;
                                        height: 200px;
                                        border-radius: 50%;
                                        background-color: white;
                                    }

                                    img{
                                        position: absolute;
                                        z-index: 1;
    
                                        &:hover{
                                            transform: rotate(15deg);
                                        }
                                    }

                                    @media (max-width: 991.98px) {
                                        .HotWhiteCircle{
                                            width: 160px;
                                            height: 160px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .HotTitleMobile{
                @include MobileTitle;
            }

            .HotTextMobile{
                .row{
                    justify-content: center;
                    flex-wrap: wrap;

                    .col{
                        width:100%;
                        padding-left: 0;
                        padding-right: 0;

                        .swiper2-container{
                            .swiper-wrapper{
                                .swiper-slide{
                                    img{
                                        width: 100%;
                                    }
                                }
                            }

                            .swiper-button-next,
                            .swiper-button-prev{
                                color: orange;
                            }

                            .swiper-pagination{
                                .swiper-pagination-bullet,
                                .swiper-pagination-bullet-active{
                                    background-color: orange;
                                }
                            }
                        }
                    }

                    .col-8{
                        width: 100%;
                        background-color: rgba(236, 27, 36, 0.56);

                        .swiper2-container{
                            .swiper-wrapper{
                                .swiper-slide{
                                    .HotText{
                                        width: 100%;
                                        text-align: center;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
        
                                        h6{
                                            padding-top: 8px;
                                        }

                                        p{
                                            width: 66%;
                                            justify-content: center;
                                        }
                                    }
        
                                    .HotWhiteCircle{
                                        width: 260px;
                                        height: 260px;
                                        background-color: wheat;
                                        border-radius: 50%;
        
                                        img{
                                            width: 106%;
                                        }
                                    }
                                }
                            }    
                        }
                    }
                }
            }
        }

        .Collection{
            padding-top: 168px;
            padding-bottom: 100px;
            background-image: url("img/Collection/去背/HeightWheatFarming-opacity0.8.png");
            background-color: rgb(255, 255, 255);

            @media (max-width: 767.98px) {
                padding-top: 0;
                padding-bottom: 0;
                background-image: none;
                background-color: unset;
            }

            .CollectionTitleMobile{
                @include MobileTitle;
            }

            .CollectionTitle{
                @include GoogleFonts;
                padding-bottom: 66px;

                @media (max-width: 767.98px) {
                    padding-bottom: 0;
                    h4{
                        display: none;
                    }
                }
            }
            .CollectionContent{
                .CollectionItemsToasts{
                    .CollectionItem{
                        height: 420px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        @media (max-width: 991.98px) {
                            height: 260px;
                        }
                        @media (max-width: 767.98px) {
                            height: 166px;
                        }

                        .CollectionContentName{
                            padding-bottom: 10%;

                            @media (max-width: 991.98px) {
                                padding-bottom: 2%;
                            }
                            
                            img{
                                width: 80%;
                                margin-top: 0;
                                position: absolute;
                                top: -2.5%;
                                left: 10%;

                                @media (max-width: 991.98px) {
                                    top: -1.36%;
                                }
                            }

                            h4{
                                @include GoogleFonts;
                                color: white;
                                position: relative;
                                text-align: center;

                                @media (max-width: 991.98px) {
                                    font-size: 12pt;
                                }
                                @media (max-width: 767.98px) {
                                    font-size: 8pt;
                                }
                            }
                        }

                        .CollectionIMG{
                            margin-top: 20px;
                            width: 80%;

                            @media (max-width: 767.98px) {
                                margin-top: 2px;
                            }

                            &:hover{
                                transform: rotate(15deg);
                            }
                        }
                    }
                }
                .CollectionItemsBreads{
                    .CollectionItem{
                        height: 280px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        @media (max-width: 991.98px) {
                            height: 186px;
                        }
                        @media (max-width: 767.98px) {
                            height: 136px;
                        }

                        .CollectionContentName{
                            padding-bottom: 10%;
                            
                            img{
                                width: 80%;
                                margin-top: 0;
                                position: absolute;
                                top: -2.5%;
                                left: 10%;

                                @media (max-width: 991.98px) {
                                    top: -1.36%;
                                }
                            }
                            h4{
                                @include GoogleFonts;
                                color: white;
                                position: relative;
                                text-align: center;

                                @media (max-width: 991.98px) {
                                    font-size: 12pt;
                                }
                                @media (max-width: 767.98px) {
                                    font-size: 8pt;
                                }
                            }
                        }
                        .CollectionIMG{
                            margin-top: 20px;
                            width: 80%;

                            @media (max-width: 767.98px) {
                                margin-top: 6px;
                            }

                            &:hover{
                                transform: rotate(15deg);
                            }
                        }
                    }
                }
            }
        }

        .FactoryTour{
            padding-top: 168px;
            padding-bottom: 100px;

            @media (max-width: 767.98px) {
                padding-top: 0;
                padding-bottom: 0;
            }

            .FactoryTourTitleMobile{
                @include MobileTitle;
            }

            .FactoryTourTitle{
                @include GoogleFonts;
                padding-bottom: 66px;

                @media (max-width: 767.98px) {
                    padding-bottom: 0;
                    h4{
                        display: none;
                    }
                }
            }

            .FactoryTourCards{
                .FactoryTourCard{
                    height: 300px;
                    box-shadow: 2px, 3px, 10px #666;
                    text-align: center;
                    position: relative;

                    @media (max-width: 991.98px) {
                        height: 168px;
                    }
                    @media (max-width: 575.98px) {
                        height: 206px;
                    }

                    img{
                        width: 100%;
                    }
                    .FactoryCardTitle{
                        @include GoogleFonts;
                        padding: 2% 0;
                        background-color: $yamazakired;
                        color: white;

                        @media (max-width: 991.98px) {
                            font-size: 8pt;
                        }
                        @media (max-width: 575.98px) {
                            font-size: 10pt;
                        }
                    }

                    .FactoryCardText{
                        @include GoogleFonts;
                        display: block;
                        background:#f5f5f5;
                        text-align: justify;
                        position: absolute;
                        z-index: 2;
                        left: 0;
                        margin: 0 15px;

                        transition: .5s ease-in-out;
                        max-height: 0;
                        overflow: hidden;
                    }

                    &:hover{
                        .FactoryCardText{
                            max-height: 260px;
                            padding:10px;
                            border-bottom: 1px solid $yamazakired;
                            border-left: 1px solid $yamazakired;
                            border-right: 1px solid $yamazakired;

                            @media (max-width: 1199.98px) {
                                font-size: small;
                            }
                            @media (max-width: 991.98px) {
                                font-size: x-small;
                            }
                            @media (max-width: 575.98px) {
                                max-height: 320px;
                                font-size: medium;
                            }
                        }
                    }
                }
            }
        }

        .Safety{
            padding-top: 168px;
            padding-bottom: 100px;

            @media (max-width: 767.98px) {
                padding-top: 0;
                padding-bottom: 0;
            }

            .SafetyTitleMobile{
                @include MobileTitle;
            }

            .SafetyTitle{
                @include GoogleFonts;
                padding-bottom: 66px;

                @media (max-width: 767.98px) {
                    padding-bottom: 0px;

                    h4{
                        display: none;
                    }
                }
            }

            .SafetyContent{
                .SafetyText{
                    @include GoogleFonts;
                    padding: 4% 10%;
                    text-align: justify;
                }
            }
        }

        .Contact{
            padding-top: 168px;
            padding-bottom: 66px;

            @media (max-width: 767.98px) {
                padding-top: 0;
                padding-bottom: 0;
            }

            .ContactTitleMobile{
                @include MobileTitle;
            }

            .ContactTitle{
                @include GoogleFonts;
                padding-bottom: 26px;

                @media (max-width: 767.98px) {
                    h4{
                        display: none;
                    }
                }
            }

            .ContactContent{
                display: flex;
                flex-direction: column;
                align-items: center;

                .ContactHeadOffice{
                    @include GoogleFonts;
                    color: $yamazakired;
                    text-align: center;
                }

                .ContactLocationsTitle{
                    @include GoogleFonts;
                    padding: 38px 0 26px 0;
                    width: 100%;
                    text-align: center;
                    
                    @media (max-width: 767.98px) {
                            display: none;
                    }
                }

                .ContactLocations{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .ContactLocation{
                        @include GoogleFonts;
                        color: $yamazakired;
                        width: 100%;
                        display: flex;
                        
                        img{
                            width: 29px;
                            height: 27px;
                        }
                        p{
                            line-height: 27px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    footer{
        display: flex;
        flex-wrap: wrap;

        .Copyright{
            position: relative;
            height: 20px;
            width: 100vw;
            p{
                @include GoogleFonts;
                font-size: xx-small;
                font-weight: lighter;
                position: absolute;
                right: 0;
            }
        }

        .ContactMap{
            iframe{
                width: 100%;
                height: 360px;
            }
        }
    }
}



